<div *ngIf="loadAccounts" class="center">
    <p-progressSpinner ariaLabel="loading" />
</div>


<div *ngIf="!loadAccounts">
    <div class="container">
        <div class="card">
            <p-button label="Show All" (onClick)="reaload()" [outlined]="true" />
            <p-toast></p-toast>
            <div class="center-table">
                <h2>Accounts</h2>
                <p-table [value]="accounts" sortMode="multiple" selectionMode="single"
                    [(selection)]="selectedAccountId">
                    <ng-template pTemplate="header">
                        <tr>
                            <th pSortableColumn="id" style="width:20%">
                                id <p-sortIcon field="id" />
                            </th>
                            <th pSortableColumn="email" style="width:20%">
                                email <p-sortIcon field="email" />
                            </th>
                            <th pSortableColumn="first_name" style="width:20%">
                                first_name <p-sortIcon field="first_name" />
                            </th>
                            <th pSortableColumn="last_name" style="width:20%">
                                last_name <p-sortIcon field="last_name" />
                            </th>
                            <th pSortableColumn="date_of_birth" style="width:20%">
                                date_of_birth <p-sortIcon field="date_of_birth" />
                            </th>
                            <th pSortableColumn="active" style="width:20%">
                                active <p-sortIcon field="active" />
                            </th>

                        </tr>
                    </ng-template>
                    <ng-template pTemplate="body" let-accounts>
                        <tr (click)="onSelectAccount(accounts)" pSelectableRow>
                            <td>{{ accounts.id }}</td>
                            <td>{{ accounts.email }}</td>
                            <td>{{ accounts.first_name }}</td>
                            <td>{{ accounts.last_name }}</td>
                            <td>{{ accounts.date_of_birth }}</td>
                            <td>{{ accounts.active }}</td>
                        </tr>
                    </ng-template>
                </p-table>
            </div>

            <div class="detail" *ngIf="!selectedAccountId">
                <div class="center-table">
                    <h2>Applications</h2>
                    <p-table [value]="allApplications">
                        <ng-template pTemplate="header">
                            <tr>
                                <th>Name</th>
                                <th>Version</th>
                                <th>Url</th>
                                <th>Action</th>
                            </tr>
                        </ng-template>
                        <ng-template pTemplate="body" let-allApplications>
                            <tr>
                                <td>{{ allApplications.name }}</td>
                                <td>{{ allApplications.version }}</td>
                                <td>{{ allApplications.url }}</td>
                                <td>
                                    <p-button (onClick)="showDialogAddAccount(allApplications)">Link</p-button>
                                </td>
                            </tr>
                        </ng-template>
                    </p-table>
                </div>
            </div>

            <div class="detail" *ngIf="selectedAccountId">
                <div class="center-table">
                    <h2>Applications</h2>
                    <p-table [value]="applications">
                        <ng-template pTemplate="header">
                            <tr>
                                <th>Name</th>
                                <th>Version</th>
                                <th>Url</th>
                                <th>Action</th>
                            </tr>
                        </ng-template>
                        <ng-template pTemplate="body" let-applications>
                            <tr>
                                <td>{{ applications.name }}</td>
                                <td>{{ applications.version }}</td>
                                <td>{{ applications.url }}</td>
                                <td>
                                    <p-button
                                        (click)="removeLinkApplication(selectedAccountId, applications.id)">Delete</p-button>
                                </td>
                            </tr>
                        </ng-template>
                    </p-table>
                </div>
            </div>
        </div>
    </div>
</div>


<ng-template #accSelectDialog let-ref="dialogRef">
    <app-acc-select-dialog></app-acc-select-dialog>
</ng-template>